@charset "utf-8";
.pagebox {
    margin-left: 10%;
    width: 80%;
}
header {
    background-color: #008080;
    color: #74ced2;
    font-size: 72pt;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
    padding-left: 5px;
	text-align: center;
}
footer {
    background-color: #008080;
    color: #74ced2;
    text-align: center;
    font-size: 18pt;
    clear: both;
}
body {
    background-color: #6F7C80;
}
.art1 {
    color: #74ced2;
    text-align: center;
    font-size: 18pt;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #74CED2;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
}
.art2 ul li {
    color: #74ced2;
}

nav li a:hover {
    font-weight: bold;
}
aside {
    width: 33%;
    float: right;
    text-align: center;
    font-size: 12pt;
    color: #74ced2;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
}
aside p {
    font-weight: bold;
}
aside ul li a {
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    color: #74ced2;
}
aside ul li {
    list-style-type: none;
}


.art2 {
    color: #74ced2;
    float: left;
    font-size: 12pt;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
    width: 66%;
    font-weight:bold;
}

img {
    align-items: center;
}
figcaption {
    color: #74ced2;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
    text-align: center;
}
.jp  {
    float: left;
    width: 33%;


}
form {
    color: #74CED2;
    align-content: center;
	text-align: center;
}
.pics {
    padding: 4px;
    float: left;
    margin-left: 3%;
    margin-right: auto;

}
.art1 .pics {
    text-align: center;
}

.pagebox .pics1 {
    text-align: center;
}





@media (max-width: 767px){
.pagebox {
    margin-left: 3%;
    width: 94%;
}
header {
    font-size: 24pt;
    text-align: center;
}
.art1 {
    font-size: 12pt;
    font-weight: bold;
}
.art2 {
    float: none;
    width: 100%;
}
aside {
    float: none;
    width: 100%;
}
aside p {
    text-align: left;
}
footer {
    font-size: 12pt;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif", impact;
}
nav li {
    width: 100%;
    border-bottom: 1px solid #585858;
}
}
